.container {
    margin-top: 70px !important;
    position: relative!important;
    margin-left: 30px !important;
    margin-right: 10px !important;
    height:85rem;
  }
  .container1 {
      height:8rem !important;
      width: 120rem !important;
      background-image: url('../../../img/detail_bg.jpg') !important;
      
    }
    .container2 {
      height:8rem !important;
      width: 120rem !important;
      
      
    }
  .text {
    text-align: left!important;
    color: white !important;
    font-size:3.8rem !important;
    margin-left: 12rem !important;
    font-family:Verdana, Geneva, Tahoma, sans-serif !important;
    

  }

  
