.image {
    width: 100%;
    object-fit: contain;
    z-index: -1;
  }
  
  .frame {
    position: absolute;
    top: 80px;
    width: 100%;
  }
  .contents {
    position: absolute;
    top: 53%;
    margin-left: 51px;
    height: 190px;
    z-index: 100;
  }
  
  .button {
    float: right;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    outline: none;
    border: none;
    font-size:1.5rem;
    font-weight: 500;
    border-radius: 3px;
    margin-right: 5rem;
    padding: 0.53rem 1.6rem 0.65rem 1.6rem;
  }
  
  
  
  .button2 {
    background-color: rgb(0, 0, 0);
    color: white;
  }
  
  .button2:hover {
    background-color: rgba(245, 40, 145, 0.8);
    color: white;
  }
  
  
  
  .description {
    z-index: 1;
    font-weight: 400;
    max-width: 480px;
    color: rgb(3, 3, 3);
    width: 100%;
    font-size: 1.4vw;
    padding-bottom: 0.8rem;
    text-align: center;
    
  }
  
  