.container {
    margin-top: 70px !important;
    position: relative!important;
    object-fit: contain !important;
    margin-left: 50px !important;
    margin-right: 10px !important;
  }
  .container1 {
      margin-top: 0rem !important;
      position: relative !important;
      height:160rem;

      
      
      
    }
    .input{
      margin-top: 70px !important;
      position: relative !important;
      background-image: url('../../../img/list_bg.jpg') !important;
      height: 11em;
      width:100em ;
    }
  .card{
    position: relative !important;
    margin-top: 70px !important;
    width: 100% !important;
    margin-left: 70px !important;
    object-fit: contain !important;
    background: rgb(255, 255, 255)  !important;
    border: 0.8px solid rgb(15, 15, 15) !important  ;
    border-radius: 0.55em !important;
  }
  .text {
    position: absolute !important;
    margin-left: 50rem !important;
    margin-right: 80px !important;
    margin-top: 28px !important;
  }
  
  .icons {
    position: relative;
    padding-right: 10px;
    top: 0.2em;
    font-size: 1.3em;
  }
  .dropdown {
    position: relative !important;
    padding-left: 50px !important;
    top: 2em !important;
    font-size: 1.8em !important;
    
  }