.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 65px;
    z-index: 110;
    transition: all 0.5s;
    transition-timing-function: ease-in;
    background-image: linear-gradient(rgb(233, 230, 230), transparent);
  }
  
  .link,
  .login-container {
    color: rgb(8, 8, 8);
    font-weight: lighter;
    font-size: 14px;
    margin-left: 70px;
    cursor: pointer;
    text-decoration: none;
  }
  .link1{
    color: rgb(8, 8, 8);
    font-weight: lighter;
    font-size: 14px;
    margin-left: 70px;
    cursor: pointer;
    text-decoration: none;
    background-color: rgb(230, 74, 126);
    border-radius: 0.5rem;
    
  }
  
  .link:hover {
    color: rgb(24, 23, 23);
    font-weight: 'bold';
    
  }
  
  .login-container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .icons {
    margin-right: 20px;
    margin-top: 1px;
    font-size: 22px;
    cursor: pointer;
  }
  
  .search-icon {
    position: relative;
    font-size: 20px;
    left: 58px;
  }
  
  
  .links {
    margin-left: 25px;
    margin-top: 5.5px;
  }
  
  .navbarColor {
    background-color: rgb(20, 20, 20);
  }
  
  .flex-container-logo {
    display: flex;
  }
  
  .flex-container-menu {
    display: flex;
  }
  .flex-container-menu1{
    
    display: flex;
  
  }
  .logo {
    margin-top: 5px;
    width: 170px;
    object-fit: contain;
  }
  .logo1 {
    margin-top:0px;
    width: 65px;
    object-fit: contain;
  }
  .logo2 {
    margin-top:0px;
    height: 68px;
    object-fit: contain;
  }
  .logo3 {
    margin-top:0px;
    height: 48px;
    object-fit: contain;
  }
  
  .cinemaximum-logo {
    margin-left: 0;
  }
  
  
  
  .flex-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 68px 0 50px;
  }
  

  
